* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 3%;
  font-family: 20px;
}

body {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  min-width: 100vw;
  overflow-x: hidden;
  background-color: #f2f2f2;
  padding: 5px 50px
}

main {
  display: flex;
  margin: 50px 80px;
}

a {
  color: #ffffff00;
}

.btt-topo {
  width: auto;
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 14px;
  letter-spacing: 2px;
  margin: 20px 20px;
  border: none;
  background-color: #f2f2f2;
  color: #33323d;
}

.btt-topo:hover {
  background-color: #f2f2f2;
  color: #5fb4a2;
}

.hero-section {
  display: flex;
  align-items: flex-end;
  background-size: cover;
  height: 100vh;
}

.h1-texto-contatos {
  width: 800px;
  font-family: "Ibarra Real Nova";
  font-style: normal;
  font-weight: 700;
  font-size: 380%;
  line-height: 62px;
  letter-spacing: -0.357143px;
  color: #33323d;
}

.itens-a-esquerda {
  display: flex;
  margin: 0% 5%;
}

.redes-roda-pe {
  margin: 0% 5%;
}

.btt-roda-pe {
  height: 14px;
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 20px;
  border: none;
  color: #ffffff;
  background-color: #33323d00;
}

.btt-roda-pe:hover {
  color: #5fb4a2;
}

.btt-redes-roda-pe,
.redes {
  margin: 15px;
}

.btt-ir-para-portfolio {
  width: 205px;
  height: 50.23627471923828px;
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  color: #33323d;
}

.btt-ir-para-contato {
  height: 50.23627471923828px;
  width: 205px;
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 14px;
  letter-spacing: 2px;
  margin-left: -3%;
  text-transform: uppercase;
  cursor: pointer;

  color: #33323d;
}

.btt-ir-para-contato:hover {
  background-color: #33323d;
  color: #f2f2f2;
}

.pre-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 10vh;
  max-width: 100vw;
  background-color: rgba(0, 0, 0, 0.81);
  margin-left: -50px;
}

.contato-section {
  display: flex;
  height: 30vh;
  justify-content: space-between;
  align-items: center;
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #33323d;
}

.eu {
  color: #33323d;
  cursor: pointer;
}
.eu:hover {
  color: #5fb4a2;
}
  
  footer {
    height: 14px;
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 14px;
    letter-spacing: 2px;
    margin: 1% 5%;
    border: none;
    background-color: #33323d00;
  }