* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 3%;
  font-family: 20px;
}

body {
  background-color: #F2F2F2;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  min-width: 100vw;
  overflow-x: hidden;
}

main {
  display: flex;
  margin: 50px 80px;
}

a {
  color: #ffffff00;
  cursor: pointer;
}

.btt-topo {
  margin: 20px 20px;
  background-color: #F2F2F2;
  border: none;
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #33323D;
}

.btt-topo:hover {
  background-color: #F2F2F2;
  color: #5FB4A2;
}

.hero-selection {
  display: flex;
  align-items: flex-end;
  background-size: cover;
  height: 100vh;
}

.h1-texto-contatos {
  font-family: 'Ibarra Real Nova';
  font-style: normal;
  font-weight: 700;
  font-size: 380%;
  line-height: 62px;
  letter-spacing: -0.357143px;
  width: 800px;
  color: #33323D;
  margin-left: 50px;
}

.itens-a-esquerda {
  display: flex;
  margin: 0% 5%
}

.redes-roda-pe {
  margin: 0% 5%
}

.btt-roda-pe {
  margin: 20px;
  height: 14px;
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: none;
  color: #FFFFFF;
  background-color: #33323d00;
}

.btt-redes-roda-pe,
.redes {
  margin: 15px
}

.btt-ir-para-portfolio {
  height: 50.23627471923828px;
  width: 205px;
  cursor: pointer;
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #33323D;
}

.btt-ir-para-contato {
  height: 50.23627471923828px;
  width: 205px;
  cursor: pointer;
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;

  color: #33323D;
  margin-left: -3%
}

.pre-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.81);
  width: 100vw;
  height: 10vh;
  max-width: 100vw;
}

footer {
  margin: 1% 5%;
  height: 14px;
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 14px;
  letter-spacing: 2px;
  border: none;
  background-color: #33323d00;

}


.contato-selection {
  display: flex;
  justify-content: space-between;
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #33323D;

}


.eu {
  color: black
}