.hero-section {
  display: flex;
  align-items: flex-end;
  background-size: cover;
  height: 100vh;
  background-image: url(../assets/home/image-homepage-hero.jpg);
}


.div-hero-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 40%;
  height: 61%;
  background-color: #fffffff7;
}

.texto-apresentacao {
  font-family: 'Ibarra Real Nova';
  font-style: normal;
  font-weight: 700px;
  font-size: 80px;
  line-height: 100px;
  letter-spacing: -0.446429px;
  margin: 60px 30px 50px 30px;
  color: #33323D;
}

.btt-sobre-mim {
  height: 48px;
  width: 200px;
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  color: #FFFFFF;
  background: #203A4C;
}

.btt-sobre-mim:hover {
  background: #5FB4A2;
  color: #FFFFFF;
}

.seta-down {
  width: 30px;
  height: 30px;
  margin:  10px 10px;
  position: absolute;

}

.sobre-section {
  flex-wrap: nowrap;
}

.imagem-profile {
  width: 52%;
  height: 99.5vh
}


.container-principal-sobre-mim {
 width:800px;
  margin: 0 10%;
}
.texto {
  margin-left: 30px;
}
.linha {
  width: 100%;
  border: 2px solid rgba(93, 93, 93, 0.25);
  background-color: rgba(93, 93, 93, 0.25);
}


.container-texto-sobre-mim {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-items: baseline;
  align-content: space-between;
  width: 130%;
  height: 100%;
}

.h1-sobre-mim {
  font-family: 'Ibarra Real Nova';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 42px;
  letter-spacing: -0.357143px;
  color: #33323D;
}

.p-sobre-mim {

  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 50px;
  opacity: 0.8;
  color: #33323D;
}