.section {
  display: flex;
  justify-content: space-between;
  padding: 1%;
  height: 60vh;
}

.manage-section,
.bookmark-section,
.insure-section,
.fylo-section {
  width: 44.5vw;
  height: 60vh;
}

.a2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  justify-items: center;
  width: 35vw;
  height: 60vh;
  border-top: 4px solid rgba(128, 128, 128, 0.606);
  border-bottom: 4px solid rgba(128, 128, 128, 0.606);

}

.hero {
  width: 100%;
  height: 100%;
}

.imagem-hero {
  width: 90%;
  height: 90%;
}

.texto-titulo {

  font-family: 'Ibarra Real Nova';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 42px;
  letter-spacing: -0.357143px;
  color: #33323D;

}

.texto-descricao {

  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 50px;
  color: #33323D;
  letter-spacing: -0.357143px;
  opacity: 0.8;
}
.btt-ir-para-portfolio {
  width: 205px;
  height: 50.23627471923828px;
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  color: #33323d;
}