* {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #33323dd5;
}
a {
  color: #33323d00;
}
p {
  margin-top: 70px;
  height: 180px;
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 50px;
  color: #33323d;
  mix-blend-mode: normal;
  opacity: 0.8;
}

div {
  width: 40vw;
}

.principal {
  display: flex;
  justify-content: space-between;
  height: 80vh;
  margin-top: 50px;
  border-top: 4px solid rgba(128, 128, 128, 0.606);
}

.entre-em-contato {
  margin-top: 80px;
  height: 82px;
  font-family: "Ibarra Real Nova";
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  line-height: 82px;
  letter-spacing: -0.357143px;
  color: #33323d;
}
.main-contato-section {
  border-top: 4px solid rgba(128, 128, 128, 0.606);
}

.agrupar-logo-texto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo-redes {
  height: 50px;
}

.agrupar-formulario {
  margin: 0 50px;
  display: flex;
  justify-content: space-around;
}

.formulario-label {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  margin: 80px 80px;
}

input,
textarea {
  font-size: 30px;
  height: 68px;
  width: 635px;
  border: none;
  background-color: rgba(128, 128, 128, 0.641);
}

input:focus,
textarea:focus {
  border: 3px solid black;
  background-color: rgba(128, 128, 128, 0.851);
}

.btt-enviar {
  width: 205px;
  height: 50.23627471923828px;
  cursor: pointer;
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0 0 10% 10.5%;
  background: #203a4c;
  color: #ffffff;
}

.btt-enviar:hover {
  background-color: #5fb4a2;
}

.redes-roda-pe {
  padding-left: 25%;
}
