.main-selection {
  width: 100vw;
  padding: 1%;
}

.btt-visitar {
  width: 205px;
  height: 50.23627471923828px;
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #f2f2f2;
  color: #33323d;
}


.titulo {
  font-family: "Ibarra Real Nova";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 42px;
  letter-spacing: -0.357143px;
  color: #33323d;
}

.texto {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 50px;
  color: #33323d;
  opacity: 0.8;
}

.texto-verde {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  color: #5fb4a2;
}

.texto-main-selection {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 50px;
  margin: 5% 0;
  opacity: 0.8;
  color: #33323d;
}

.central {
  display: flex;
  justify-content: space-around;
  height: auto;
}

.projeto-aside {
  display: block;
  width: auto;
}

.main-texto-projeto-aside {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 90%;
  height: 50%;
  margin: 0 5%;
  padding: 5%;
  border-top: 4px solid rgba(128, 128, 128, 0.606);
  border-bottom: 4px solid rgba(128, 128, 128, 0.606);
}

.previews-estatico {
  display: block;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.imagem-hero {
  width: 90%;
  height: 90%;
}

.imagem-preview {
  width: 37vw;
  height: 50vh;
  margin: 5% 0;
}

.links-selection {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  width: 90vw;
  height: 40vh;
  border-top: 4px solid rgba(128, 128, 128, 0.606);
  border-bottom: 4px solid rgba(128, 128, 128, 0.606);
}

.seta-esquerda,
.seta-direita {
  width: 50px;
  height: 50px;

}

.alinhar-botao-paginas {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 400px
}